# Copiez ce fichier en .env et remplissez avec vos vraies valeurs

### Database Links ###
DB_URL=votre_url
DB_USERNAME=votre_username
DB_PASSWORD=votre_password
DB_MAX_POOL_SIZE=5

### JWT configuration ###
JWT_SECRET = votre_clé
JWT_EXPIRATION = votre_durée_d_expiration


### Local port ###
LOCAL_PORT = votre_lien_de_port